<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <h1>Logged In Page</h1>

      <h1><%=currentUser.username%> user page</h1>

      <!-- log out button -->
      <form action="/session?_method=DELETE" method="POST">
        <button class="button" type="submit" formmethod="POST">log out</button>
      </form>

      <form action="/recipe/create" method="GET">
        <button class="button" type="submit" formmethod="GET">new recipe</button>
      </form>

      <!-- delete all button -->
      <form action="/recipe/?_method=DELETE" method="POST">
        <button class="button" type="submit" formmethod="POST">delete all</button>
      </form>

      <!-- user created/added recipes -->
      <div class="row">
        <!-- display newest to oldest -->
        <% for (let i = recipes.length - 1; i >= 0; i--) { %>
          <a href="/recipe/<%=recipes[i].id;%>"><%=recipes[i].title;%></a>
          <!-- edit button -->
          <form action="/recipe/<%=recipes[i].id;%>/edit" method="GET">
            <button class="button-primary" type="submit" formmethod="GET">edit</button>
          </form>
          <!-- delete button -->
          <form action="/recipe/<%=recipes[i].id;%>/?_method=DELETE" method="POST">
            <button class="button" type="submit" formmethod="POST">delete</button>
          </form>
          <br>
        <% } %>
      </div>

    </div>

    <!-- footer -->
    <% include ../partials/footer %>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
