<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Recipe | Sonmat</title>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="main">
      <% include ../partials/nav %>
      <% include ../partials/logo %>

      <div class="container recipes-main-container">
        <!-- edit recipe -->
        <form action="/recipe/<%=recipe.id%>?_method=PUT" method="POST">

          <!-- username -->
          <div class="row row-top">
            <div class="five columns">
              <p>Created By</p>
            </div>
            <div class="seven columns input-field">
              <input type="text" name="username" placeholder="<%=currentUser.username%>" value="<%=currentUser.username%>" readonly>
            </div>
          </div>

          <!-- title -->
          <div class="row row-top">
            <div class="five columns">
              <p>Title</p>
            </div>
            <div class="seven columns input-field">
              <input type="text" name="title" value="<%=recipe.title;%>" maxlength="30" minlength="5" required>
            </div>
          </div>

          <!-- image -->
          <div class="row row-top">
            <div class="five columns">
              <p>Image</p>
            </div>
            <div class="seven columns input-field">
              <input type="text" name="image" value="<%=recipe.image;%>" minlength="5" required>
            </div>
          </div>

          <hr>

          <!-- description -->
          <div class="row row-bottom">
            <p>Description</p>
          </div>
          <div class="row textarea-field">
            <textarea type="text" name="description" maxlength="5000" minlength="5" required><%=recipe.description;%></textarea>
          </div>

          <!-- ingredients -->
          <div class="row row-bottom">
            <p>Ingredients</p>
          </div>
          <div class="row textarea-field">
            <textarea type="text" name="ingredients" maxlength="5000" minlength="5" required><%=recipe.ingredients;%></textarea>
          </div>

          <!-- directions -->
          <div class="row row-bottom">
            <p>Directions</p>
          </div>
          <div class="row textarea-field">
            <textarea type="text" name="directions" maxlength="5000" minlength="5" required><%=recipe.directions;%></textarea>
          </div>

          <div class="row create-button-row">
            <!-- create button -->
            <button class="button-primary" type="submit" formmethod="POST">submit</button>
          </div>
        </form>

      </div>

      <!-- footer -->
      <% include ../partials/footer %>
    </div>
    <!-- JavaScript -->
    <% include ../partials/js %>
  </body>
</html>
